import /tee.rc
import /trustonic.rc

on init
    #mkdir /mnt/vendor/persist
    #mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

on fs
    install_keyring

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /system/bin/android.hardware.keymaster@3.0-service.trustonic
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

service hal_cryptoeng_oppo /system/bin/hw/vendor.oplus.hardware.cryptoeng@1.0-service
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0
    
service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start mobicore
    start keymaster-3-0
    start vendor.gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0
